.chat {
  position: relative;
  width: 15vw;
  min-width: 250px;
  #logoutBtn {
    position: absolute;
    border-radius: 15%;
    border: 1px solid rgba(65, 65, 65, 0.6);
    color:rgb(0, 0, 0);
    background-color: $greyColor;
    padding: 0 0.2em;
    top: 2px;
    right: 5px;
    cursor: pointer;
  }    
  .chatMessages {
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    overflow: auto;
    padding: 20px 10px;
    background-color: #ffffff;
    height: 50vh;
    min-height: 450px;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    scrollbar-width: none;
    li {
      padding: 0.1em 0;
      max-width: 100%;
      color: #2c2c2c;
      .self {
        color: #000000;
      }
      .others {
        color: #0085ff;
      }
      .text {
        word-wrap: break-word;
      }
    }
    .systemMessage {
      color: rgb(225, 25, 25);
      font-weight: bolder;
      padding: 0.2em 0 0.2em 1.5em;
    }
  }
  #chatForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    input {
      height: 50px;
      width: 100%;
      padding: 0px 25px;
      border-radius: 1em;
      box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
        0 3px 7px -3px rgba(0, 0, 0, 0.3);
    }
  }
}