.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  
  .usersInfo {
    height: 15vh;
    width: 240px;
    background-color: white;
    border: 1px solid rgba(23, 55, 87, 0.4);
    border-radius: 0.6em;
    margin-bottom: 3em;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    overflow: auto;
    .userCnt {
      font-size: 1.2em;
      font-weight: bolder;
      padding: 0.4em 0 0.4em 2em;
    }
    .user {
      position: relative;
      margin:  0  0 0.1em 0.5em;
      .nickname {
        color: #0085ff;
      }
      .score {
        font-weight: bolder;
        position: absolute;
        padding-right: 0.2em;
        right: 0;
      }
    }
  }
  .chat {
    width: 240px;
    margin: 0.5em;
    .chatMessages {
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      width: 100%;
      overflow: auto;
      padding: 20px 10px;
      background-color: #ffffff;
      height: 50vh;
      min-height: 450px;
      border-radius: 10px;
      box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
      li {
        padding: 0.1em 0;
        max-width: 100%;
        color: #000000;
        .self {
          color: #3c3c3cd0;
        }
        .others {
          color: #0085ff;
        }
        .text {
          word-wrap: break-word;
        }
      }
      .systemMessage {
        color: rgb(225, 25, 25);
        font-weight: bolder;
        padding: 0.2em 0 0.2em 1.5em;
      }
    }
    #chatForm {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      input {
        height: 50px;
        width: 100%;
        padding: 0px 25px;
        border-radius: 1em;
        box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
          0 3px 7px -3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}