.drawingContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: calc(2vh + 1.2rem) 2em 1em 2em;
    z-index: 5;

    canvas {
      background-color: rgb(255, 255, 255);
      border-radius: 0.6em;
      box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
      height: 600px;
      width: 600px;
      margin: 1em;
    }
    .side{
      display: flex;
      flex-direction: column;
      align-items: center;

      .controls {
        display: flex;
        flex-direction: row;
        #mode {
          min-width: 3.5em;
          padding: 0.5em;
          margin: 1em;
          text-align: center;
          font-size: 1em;
          font-weight: 550;
          color: rgba(0, 0, 0, 0.8);
          background-color: rgba(255, 255, 255, 0.55);
          border: rgba(255, 255, 255, 0.2);
          border-radius: 0.3rem;
          box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
          cursor: pointer;
        }
        #line_width{
          width: 50%;
        }
      }
      .colors{
        display:flex;
        flex-direction: row;
      
          #custom_color{
              all: unset;
              width: 3.2em;
              height: 3.2em;
              margin: 0.05em;
              border: 1px solid rgba(50, 50, 93, 0.35);
              border-radius: 50%;
              box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
              cursor: pointer;
          }
          .color{
              width: 3.5em;
              height: 3.5em;
              margin: 0.08em;
              border-radius: 50%;
              box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
              cursor: pointer;
              &:active{
                transform: scale(0.95);
              }
          }
      }
    }
}

