@keyframes announce {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    }
    50% {
      transform: translateY(-5vh);
      opacity: 1;
    }
    100% {
      transform: translateY(-3vh);
      opacity: 1;
    }
}
@keyframes dissapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.systemAnnounces {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-height: 85vh;
  left: 5vw;
  bottom: 15px;
  z-index: 10;
  div {
    display: block;
    opacity: 0;
    font-size: 1.5em;
    padding: 0.3em 0.8em;
    margin-top: 1em;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5em;
    text-align: center;
    z-index: 10;
    animation: announce 1s ease-in forwards,
      dissapear 1s ease-out forwards;
    animation-delay: 0s, 1.5s;
  }
}

.gameContainer > .gameAnnounce {
  position: fixed;
  opacity: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8em;
  font-weight: 800;
  padding: 0.3em 0.8em;
  border-radius: 0.4em;
  color: #ffffff;
  animation: dissapear 1s ease-out forwards;
  animation-delay: 3s;
  z-index: 10;
}