<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Catch Mind
        link(rel="stylesheet", href="/styles.css")
    body
        .loginBox
            form#jsLogin(action="")
                input#jsNicknameInput(placeholder="Set your nickname", type="text")
        .gameContainer#jsGame
            h1 Catch Mind
            h2 Draw and let others guess the item what you draw
        script(src="/socket.io/socket.io.js")
        script(src="/main.js")
        script.
            window.events = !{events}