<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Catch Mind
        link(rel="stylesheet", href="/styles.css")
        script(defer src="/main.js")
        script(defer src="/socket.io/socket.io.js")
    body
        .loginBox
            form#jsLogin(action="")
                input#jsNicknameInput(placeholder="Set your nickname", type="text", maxlength="8")
        .gameContainer#jsGame
            .title Catch Mind
            .chat
                ul.chatMessages
                form#chatForm(action="")
                    input#chatInput(placeholder="Send message to others", type="text", autocomplete="off")
        script.
            window.events = !{events}